<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title layout:fragment="title">Medical record</title>
</head>
<body>
<div layout:fragment="navbar"
     th:replace="~{fragments/nav :: nav-doctor}"></div>

<div layout:fragment="content" class="container mt-5">
    <h3 class="mb-4">Medical Record Details</h3>

    <div class="card shadow p-4" th:if="${record!=null}">
        <h5 class="mb-3">Patient Info</h5>
        <p><strong>Name:</strong> <span th:text="${record.patientFullName}"></span></p>
        <p><strong>Email:</strong> <span th:text="${record.patientEmail}"></span></p>
        <p><strong>Phone:</strong> <span th:text="${record.patientPhoneNumber}"></span></p>

        <hr>

        <h5 class="mb-3">Appointment Info</h5>
        <p><strong>Date:</strong> <span th:text="${' ' +record.appointmentDate}"></span></p>

        <hr>

        <h5 class="mb-3">Medical Notes</h5>
        <p><strong>Diagnosis:</strong></p>
        <p th:text="${record.diagnosis}" class="ms-3"></p>

        <p><strong>Summary:</strong></p>
        <p th:text="${record.summary}" class="ms-3"></p>

        <hr>

        <h5 class="mb-3">Prescriptions</h5>

        <div th:if="${record.prescriptions != null and !#lists.isEmpty(record.prescriptions)}">
            <table class="table table-bordered table-striped">
                <thead class="table-light">
                <tr>
                    <th>Medicine Name</th>
                    <th>Dosage</th>
                    <th>Frequency</th>
                    <th>Start Date - End Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="prescription : ${record.prescriptions}">
                    <td th:text="${prescription.medicine}"></td>
                    <td th:text="${prescription.dosage}"></td>
                    <td th:text="${prescription.frequency.getLabel()}"></td>

                    <td th:text="|${' '+prescription.startDate}
                    ${prescription.endDate != null ? ' - ' + ' '+prescription.endDate : ' - no'}|"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${#lists.isEmpty(record.prescriptions)}">
            <p class="text-muted">No prescriptions recorded</p>
        </div>
    </div>

</div>
</body>
</html>
