<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title layout:fragment="title">Doctor</title>
</head>
<body>
<div layout:fragment="navbar"
     th:replace="~{fragments/nav :: nav-doctor}"></div>

<div layout:fragment="content">
    <div th:fragment="content" class="text-center mt-5">
        <h2 th:text="${dFullName}"></h2>
        <h1>Welcome to MediCore</h1>
        <h3>Your platform for managing patients and appointments efficiently</h3>

        <img th:src="@{/images/medicore_home.png}" alt="MediCore Banner" class="img-fluid mt-4"
             style="max-width: 600px;">
    </div>
</div>
</body>
</html>