<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/layout}">
<head>
    <title layout:fragment="title">Appointments</title>
</head>
<body>
<div layout:fragment="navbar"
     th:replace="~{fragments/nav :: nav-patient}"></div>

<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-0" th:text="#{pl.edu.hospital.nav.apps}">Appointments</h3>
        <form th:action="@{/patient/apps}" method="post">
            <input type="hidden" name="startDate" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
            <input type="hidden" name="endDate" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
            <button type="submit" class="btn btn-outline-primary" th:text="#{pl.edu.hospital.doctor.todayApps}">Show
                Today's Appointments
            </button>
        </form>
    </div>

    <form th:action="@{/patient/apps}" method="post" class="row g-3 mb-4 mt-3">
        <div class="col-md-3">
            <label for="startDate" class="form-label" th:text="#{pl.edu.hospital.filter.startDate}">Start Date</label>
            <input type="date" id="startDate" name="startDate" class="form-control"
                   th:value="${startDate}" required>
        </div>
        <div class="col-md-3">
            <label for="endDate" class="form-label" th:text="#{pl.edu.hospital.filter.endDate}">End Date</label>
            <input type="date" id="endDate" name="endDate" class="form-control"
                   th:value="${endDate}" required>
        </div>

        <div class="w-100"></div>

        <div class="col-md-3">
            <label for="status" class="form-label" th:text="#{pl.edu.hospital.filter.status}">Filter By Status:</label>
            <select id="status" name="status" class="form-control">
                <option value="" th:text="#{pl.edu.hospital.filter.all}">All</option>
                <option th:each="s : ${statuses}" th:value="${s}" th:text="${s}"
                        th:selected="${s == selectedStatus}"></option>
            </select>
        </div>

        <div class="col-md-3">
            <label for="specialization" class="form-label" th:text="#{pl.edu.hospital.filter.special}">Filter By
                Specialization:</label>
            <select id="specialization" name="specialization" class="form-control">
                <option value="" th:text="#{pl.edu.hospital.filter.all}">All</option>
                <option th:each="spec : ${specializations}" th:value="${spec}" th:text="${spec}"
                        th:selected="${spec == selectedSpecialization}"></option>
            </select>
        </div>

        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100" th:text="#{pl.edu.hospital.button.view}">View</button>
        </div>
    </form>

    <div class="calendar mt-4">
        <div class="calendar-grid">
            <div class="day-column" th:each="entry : ${appointments}">
                <h4 th:text="${' '+entry.key}"></h4>
                <div class="appointment-grid">
                    <div class="appointment-block" th:each="a : ${entry.value}">
                        <div class="time-range">
                            <strong th:text="${a.startTime}"></strong>-
                            <strong th:text="${a.endTime}"></strong>
                        </div>
                        <span th:text="${a.doctorFullName}"></span>
                        <span th:text="${a.specialization}"></span>
                        <i><strong><span th:text="${a.status}"></span></strong></i>

                        <div class="d-flex gap-2 mt-4" th:if="${a.status.name() =='SCHEDULED'}">
                            <form th:action="@{/patient/appointments/cancel}" method="post" th:object="${a}">
                                <input type="hidden" name="id" th:value="${a.id}"/>
                                <button type="submit" class="btn btn-sm btn-outline-primary"
                                        th:text="#{pl.edu.hospital.button.cancel}"
                                        th:onclick="|return confirm('#{pl.edu.hospital.doctor.cancelAppConfirm}');|">
                                    Cancel
                                </button>
                            </form>
                        </div>

                        <div class="d-flex gap-2 mt-4" th:if="${a.status.name() =='COMPLETED'}">
                            <a th:href="@{'/patient/appointments/record/' + ${a.id}}"
                               class="btn btn-sm btn-primary" th:text="#{pl.edu.hospital.button.record}">Record</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
