<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title layout:fragment="title">Doctor</title>
</head>
<body>
<div layout:fragment="navbar"
     th:replace="~{fragments/nav :: nav-admin}"></div>

<div layout:fragment="content">
    <h3 th:text="'Weekly Schedule for Doctor ' + ${dFullName}"></h3>

    <div class="calendar mt-4">
        <div th:each="day : ${days}" class="day-column">
            <h5 th:text="${day.name()}"></h5>

            <div th:each="a : ${scheduleByDay[day]}">
                <div class="appointment">
                    <strong th:text="${a.date}"></strong>
                    <strong th:text="${a.time}"></strong><br/>
                    <span th:text="${a.patientFullName}"></span><br/>
                    <span th:text="${a.patientEmail}"></span><br/>
                    <small th:text="${a.status}"></small>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>