<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title layout:fragment="title">Admin</title>
</head>
<body>
<div layout:fragment="navbar"
     th:replace="fragments/nav :: nav-admin"></div>

<div layout:fragment="content">
    <h1>Statistics</h1>
    <table>
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${statistics}">
            <td th:text="${entry.key}">Key</td>
            <td th:text="${entry.value}">Value</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>