<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title layout:fragment="title">Admin</title>
</head>
<body>
<div layout:fragment="navbar"
     th:replace="~{fragments/nav :: nav-admin}"></div>

<div layout:fragment="content">
    <form class="row g-3 mb-4" method="get" th:action="@{/admin/patients}">
        <div class="col-md-4">
            <label for="email" class="form-label">Search by Email</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Enter email"
                   th:value="${param.email}">
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Search</button>
        </div>
    </form>
    <h1>Patients</h1>
    <div class="row row-cols-1 g-4 mt-4" th:each="p : ${patients}">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-8">
                            <h3 class="card-title" th:text="${p.fullName}"></h3>
                            <p class="card-text mb-1"><strong>Email:</strong> <span th:text="${p.email}"></span></p>
                            <p class="card-text mb-1"><strong>Phone:</strong> <span th:text="${p.phone}"></span></p>
                            <p class="card-text mb-1"><strong>Birth Date:</strong> <span
                                    th:text="${''+p.birthDate}"></span></p>
                            <p class="card-text mb-0">
                                <strong>Address:</strong>
                                <span th:text="${p.address.street + ' ' + p.address.number + ', ' + p.address.city.name + ', ' + p.address.city.country.name}"></span>
                            </p>
                        </div>

                        <div class="col-md-4 d-flex flex-column align-items-end justify-content-center gap-2">
                            <a th:href="@{/admin/patients/{username}/appointments(username=${p.username})}"
                               class="btn btn-outline-primary btn-sm text-center">Appointments</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 align-items-center">
        <div th:if="${errorMessage}" class="alert alert-danger text-center">
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</div>
</body>
</html>